.MenuButton {
  height: 56px;
  width: 42px;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  outline:0;
}

.MenuButton::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 20px;
  border-radius: 3px;
  width: 42px;
  height: 6px;
  background: white;
  box-shadow: 
    0 12px white,
    0 24px white;
}

/* display button on mobile devices only */
@media (min-width: 500px) {
  .MenuButton {
    display: none;
  }
}